<!DOCTYPE html>
<html lang="en">
  <style>
    .active {
      color: green;
    }
    .notActive {
      color: red;
    }
  </style>

  <div id="app">
    <h1 class="static" :class="{active : isActive, notActive: !isActive}">
      {{ name }}
    </h1>

    <h1 :class="[isActive ? 'active' : 'notActive']">{{ name }}</h1>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    new Vue({
      el: "#app",
      data: {
        isActive: true,
        name: "Edwin",
      },
    });
  </script>
</html>
