<!DOCTYPE html>

<div id="app">
  <posts :data="34"></posts>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  Vue.component("posts", {
    props: ["data"],

    template: `

        <h1 @click="display">{{data}}</h1>

        `,

    data() {
      return {
        message: "Hello Edwin",
      };
    },

    methods: {
      display() {
        console.log("hello");
      },
    },
  });

  let vm = new Vue({
    el: "#app",
  });
</script>
