<!DOCTYPE html>

<div id="app">
  <h1>{{ reverseMessage }}</h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  new Vue({
    el: "#app",
    data: {
      message: "Hello",
    },
    computed: {
      reverseMessage() {
        return this.message.split("").reverse("").join("");
      },
    },
  });
</script>
