<!DOCTYPE html>

<div id="app">
  <h1 v-if="isActive">{{ name }}</h1>

  <h1 v-else-if="name === 'Edwin Diaz'">Hey Edwin What's up</h1>

  <h1 v-else>NO USER</h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  new Vue({
    el: "#app",
    data: {
      isActive: false,
      name: "Edwin Diaz",
    },
  });
</script>
