<!DOCTYPE html>
<html lang="en">
  <div id="app">
    <a :href="url">{{url}}</a>

    <h1 :data="dynamicId">{{dynamicId}}</h1>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    new Vue({
      el: "#app",
      data: {
        dynamicId: 30,
        url: "https://edwindiaz.com",
      },
    });
  </script>
</html>
