<!DOCTYPE html>

<div id="app">
  <ul>
    <li v-for="post in posts" :key="post.id">{{ post.title }}</li>
  </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  new Vue({
    el: "#app",
    data: {
      posts: [
        {
          id: 1,
          title: "Post One",
          body: "This is post one",
        },
        {
          id: 2,
          title: "Post Two",
          body: "This is post two",
        },
        {
          id: 3,
          title: "Post Three",
          body: "This is post three",
        },
        {
          id: 4,
          title: "Post Four",
          body: "This is post four",
        },
        {
          id: 5,
          title: "Post Five",
          body: "This is post five",
        },
      ],
    },
  });
</script>
